@import "./utils/variables", "./utils/extends";
@import "./base/base";
@import "./layouts/navigation", "./layouts/header", "./layouts/responsive";

// Nav
#nav {
  left: 0;
  z-index: 10;
  a {
    transition: all 0.5s;
    &:hover {
      color: $color-first !important;
      text-decoration: 0.1rem underline !important;
      text-underline-offset: 0.3rem;
    }
  }
}

// Main
#main {
  // About
  #about {
    h2 {
      font-size: 2rem;
    }
    i {
      color: $color-first;
    }
  }
  // Product
  #product {
    background-image: url(/assets/images/product.png);
    @extend %background-image;
    background-color: #f7f7f7;
    height: 10rem;
  }
  // Features
  #features {
    i {
      color: $color-first;
    }
  }
}
