// XX-Large devices (larger desktops, 1400px and down)
@media only screen and (max-width: 1400px) {
}
// X-Large devices (large desktops, 1200px and down)
@media only screen and (max-width: 1200px) {
}

// Large devices (desktops, 992px and down)
@media only screen and (max-width: 992px) {
  #header {
    margin-top: 3.8rem;
    .content {
      width: 100% !important;
    }
  }
}

// Medium devices (tablets, 768px and down)
@media only screen and (max-width: 768px) {
  #header {
    margin-top: 3.5rem;
    padding: 7rem !important;
    h1 {
      font-size: 1.5rem !important;
    }
  }
}

// Small devices  (tablets, 576px and down)
@media only screen and (max-width: 576px) {
  #nav {
    .logo {
      display: none;
    }
    ul {
      justify-content: center !important;
      column-gap: 0.2rem !important;
    }
  }
  #header {
    padding: 4rem !important;
    h1 {
      font-size: 1.5rem !important;
    }
    p {
      font-size: 1rem !important;
    }
    a {
      font-size: 0.7rem;
    }
  }
}

// Extra Small devices (tablets, 320px and down)
@media only screen and (max-width: 320px) {
}
